<app-search-form></app-search-form>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p *ngIf="results && results.isLoading" class="mb-0"><span class="fa fa-spinner fa-spin"></span> Loading degrees
      </p>
      <p *ngIf="results && results.endIndex > 0" class="text-muted mb-0 ml-3" aria-live="polite">
        Showing {{results.startIndex}} through {{results.endIndex}} of {{results.totalPosts}} degrees
        <span *ngIf="params && params.programTypeFullName != ''">
          for the <strong>{{params.programTypeFullName}}</strong> program
        </span>
        <span *ngIf="params && params.collegeFullName != ''">
          at the <strong>{{params.collegeFullName}}</strong>
        </span>
        at UCF.
      </p>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-4 push-md-8 col-lg-3 push-lg-9 mb-4">
      <h2 class="h5 heading-underline visible-sm mt-3 mb-4">Filter Degrees By</h2>
      <app-colleges></app-colleges>
    </div>
    <div class="col-md-8 pull-md-4 col-lg-9 pull-lg-3">
      <app-search-results></app-search-results>
      <app-pagination></app-pagination>
    </div>
  </div>
</div>
