<div class="card mb-4 d-none d-md-block" [ngClass]="{'d-block': isCollegesOpen}">
  <div class="card-block">

    <p class="my-3" *ngIf="isLoading"><span class="fa fa-spinner fa-spin"></span> Loading colleges</p>

    <div *ngIf="colleges && colleges.length > 0" class="degree-search-colleges">

      <ul class="degree-search-colleges list-unstyled mb-0">
        <li class="degree-search-college">
          <a href="#view-all" class="text-decoration-none hover-text-underline"
            [ngClass]="{'font-weight-bold': selectedCollege === ''}" (click)="setCollege('', '')">
            View All
          </a>
        </li>

        <li class="degree-search-college" *ngFor="let college of colleges">
          <a href="#{{college.slug}}" class="text-decoration-none hover-text-underline"
            [ngClass]="{'font-weight-bold': selectedCollege === college.slug}"
            (click)="setCollege(college.slug, college.fullname)">
            {{college.name}}
          </a>
        </li>
      </ul>

    </div>

  </div>
</div>
