<div class="text-center mb-1 font-weight-bold">Filter by program</div>
<div class="text-center mb-2">
  <div class="d-inline-block btn-sm btn-outline-secondary mx-1 my-1 active">All</div>
  <div class="d-inline-block btn-sm btn-outline-secondary mx-1 my-1" (click)="setProgramType('bachelor', 'Bachelor')">
    <span class="bg-complementary px-1 mr-1">BS</span> Bachelor
  </div>
  <div class="d-inline-block btn-sm btn-outline-secondary mx-1 my-1" (click)="setProgramType('minor', 'Minor')">
    <span class="bg-complementary px-1 mr-1">MR</span> Minor
  </div>
  <div class="d-inline-block btn-sm btn-outline-secondary mx-1 my-1" (click)="setProgramType('undergraduate-certificate', 'Bachelor Certificate')">
    <span class="bg-complementary px-1 mr-1">BC</span> Bachelor Certificate
  </div>
  <br>
  <div class="d-inline-block btn-sm btn-outline-secondary mx-1 my-1" (click)="setProgramType('doctorate', 'Doctorate')">
    <span class="bg-info px-1 mr-1">DR</span> Doctorate
  </div>
  <div class="d-inline-block btn-sm btn-outline-secondary mx-1 my-1" (click)="setProgramType('master', 'Master')">
    <span class="bg-info px-1 mr-1">MS</span> Master
  </div>
  <div class="d-inline-block btn-sm btn-outline-secondary mx-1 my-1" (click)="setProgramType('specialist', 'Specialist')">
    <span class="bg-info px-1 mr-1">ST</span> Specialist
  </div>
  <div class="d-inline-block btn-sm btn-outline-secondary mx-1 my-1" (click)="setProgramType('graduate-certificate', 'Master Certificate')">
    <span class="bg-info px-1 mr-1">MC</span> Master Certificate
  </div>
  <div class="d-inline-block btn-sm btn-outline-secondary mx-1 my-1"
    (click)="setProgramType('professional-program', 'Professional')">
    <span class="bg-primary px-1 mr-1">MD</span> Medical Doctor
  </div>
</div>
