<app-search-form></app-search-form>

<div class="container mb-5">

  <div class="row">

    <div class="col-md-5 col-lg-4 mb-2 degree-search-sidebar">

      <div class="text-center d-md-none mt-4" [ngClass]="isFilterVisible ? 'd-none' :''">
        <button class="btn btn-sm text-transform-none btn-outline-secondary px-5" (click)="toggleFilters()">
          <span class="fa fa-filter" aria-hidden="true"></span> Filter
        </button>
      </div>

      <div class="bg-faded px-4 py-2 mr-md-4 d-none d-md-block" [ngClass]="isFilterVisible ? 'd-block' :'d-none'">

        <app-program-types (toggleFilters)="toggleFilters()"></app-program-types>

        <hr>

        <app-colleges (toggleFilters)="toggleFilters()"></app-colleges>

        <hr>

        <app-locations (toggleFilters)="toggleFilters()"></app-locations>

        <hr>

      </div>

    </div>

    <div class="col-md-7 col-lg-8" id="searchResults" role="region" aria-live="polite">

      <div class="row mb-4 mt-4" *ngIf="isLoading">
        <div class="col-md-12">
          <p class="mb-0"><span class="fa fa-spinner fa-spin"></span> Loading degrees</p>
        </div>
      </div>

      <app-search-results></app-search-results>

    </div>
  </div>
</div>
