

        <h3 class="h6 pb-2 mt-4">Select Location</h3>

        <ul class="list-unstyled">
          <li>

            <label class="custom-control custom-radio mb-0">
              <input type="radio" class="custom-control-input" name="locations">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Main Campus</span>
            </label>
          </li>

          <li>
            <label class="custom-control custom-radio mb-0">
              <input type="radio" class="custom-control-input" name="locations">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Academic Health Sciences Campus</span>
            </label>
          </li>

          <li>
            <label class="custom-control custom-radio mb-0">
              <input type="radio" class="custom-control-input" name="locations">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">UCF Downtown</span>
            </label>
          </li>

          <li>
            <label class="custom-control custom-radio mb-0">
              <input type="radio" class="custom-control-input" name="locations">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Rosen campus</span>
            </label>
          </li>

          <li>
            <label class="custom-control custom-radio mb-0">
              <input type="radio" class="custom-control-input" name="locations">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">UCF Online</span>
            </label>
          </li>

          <li>
            <label class="custom-control custom-radio mb-0">
              <input type="radio" class="custom-control-input" name="locations">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">CONNECT Campuses</span>
            </label>
          </li>

        </ul>

        <hr>

        <h3 class="h6 pb-2 mt-4">
          <a href="https://www.ucf.edu/online/" class="d-inline-block mr-2">
            Online Programs</a>
          <a href="https://www.ucf.edu/online/">
            <span class="fa fa-external-link text-primary"></span></a>
        </h3>
